# autotools related files
Makefile
Makefile.in
*/Makefile
*/Makefile.in
aclocal.m4
autom4te.cache
autoscan.log
config.log
config.status
configure
configure.scan
install-sh
missing
depcomp

# Make targets
bin/gitsh
gitsh-*.tar.gz
