# autotools related files
Makefile
Makefile.in
*/Makefile
*/Makefile.in
aclocal.m4
autom4te.cache
autoscan.log
config.log
config.status
configure
configure.scan
install-sh
missing
compile
depcomp
test-driver
*/.deps
*/.dirstamp

# Make targets
/gitsh
src/gitsh.rb
lib/gitsh/version.rb
gitsh-*.tar.gz
vendor/gems
*.o
*.so

# Ruby C-extension
*.bundle
*.so
mkmf.log
.RUBYARCHDIR*

# Sub-repositories for release
gh-pages
homebrew-formulae
release-arch

# Test output
spec/**/*log
test-suite.log
spec/**/*trs
