Source: gitsh
Section: main
Priority: optional
Maintainer: thoughtbot <support@thoughtbot.com>
Build-Depends: debhelper (>= 9), dh-autoreconf, pry, ruby | ruby-interpreter, ruby-bourne, ruby-rspec, ruby-parslet
Standards-Version: 3.9.5
Homepage: https://github.com/thoughtbot/gitsh
Vcs-Browser: https://github.com/thoughtbot/gitsh
Vcs-Git: https://github.com/thoughtbot/gitsh.git

Package: gitsh
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter, ruby-parslet, git
Description: interactive shell for git
 The gitsh program is an interactive shell for git. From within gitsh you can
 issue any git command, even using your local aliases and configuration.
